@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
  @apply bg-slate-50 text-slate-800 antialiased;
  background-image: linear-gradient(to bottom right, #f0f9ff, #e0f2fe, #ddd6fe);
  min-height: 100vh;
}